# Data science and Eco system

In this notebook ,Data science tools and Eco System are summerized.

   **Objectives**

 - Popular languages of Data science.
 - Commonly used libraries by Data scientests.
 - Data science Tools.
 - Arithmetic operation

 Some of the popular languages that Data scientests use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1.NumPy
2.Pandas
3.Mataplotlibe

 |Data | Science |Tools|
 |-----|---------|-----|   
 1.Jupyter Notebooks:
 2.RStudio :
 3.Spyder:

### Below are a few examples of evaluating arithmetic expressions in Python.

In [9]:
 # This a simple arithmetic expression to mutiply then add integers.

 (3*4)

12

In [10]:
12+5

17

In [11]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Nadia Tariq